.banner {
  max-width: var(--wrapper-width);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.banner__image {
  flex: 2 2 60rem;
}

.banner__image img {
  display: block;
}
.banner__cta {
  background-color: var(--primary-headingColor);
  color: var(--secondary-color);
  padding: 20px;
  flex: 2 2 40rem;
  position: relative;
}
.banner__cta__heading {
  width: 80%;
  font-family: 'Playfair Display', serif;
  font-size: 4.2rem;
}

.banner__cta__desc {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.banner__cta__image {
  position: absolute;
  top: 25rem;
  left: 40rem;
  max-width: 20rem;
}
