.banner {
  max-width: var(--wrapper-width);
  display: flex;
}

.banner__image img {
  display: block;
}
.banner__cta {
  background-color: var(--primary-headingColor);
  color: var(--secondary-color);
  padding: 20px;
  position: relative;
}
.banner__cta__heading {
  width: 400px;
  font-family: 'Playfair Display', serif;
  font-size: 4.2rem;
}

.banner__cta__desc {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.banner__cta__image {
  position: absolute;
  top: 250px;
  left: 400px;
  max-width: 200px;
}
