/* -------- Projects Docs----------------

1. Projects fonts : 
   1. Primary Body fonts - Open Sans
      link : https://fonts.google.com/specimen/Open+Sans 
      link : <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
            - font-family: 'Open Sans', sans-serif;


   2. Heading Fonts - Playfair Display
      link : https://fonts.google.com/specimen/Playfair+Display
      link : <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
            - font-family: 'Playfair Display', serif;

   3. Icon - https://feathericons.com/
----------------------------------------- */

/* declaring colors and width with css variables or custom property */
:root {
  --wrapper-width: 1360px;
  --container-width: 1170px;
  --primary-headingColor: #6e98a6;
  --primary-textColor: #767676;
  --secondary-textColor: #dad398;
  --price-text: #b46254;
  --secondary-color: #fff;
}

/* Declaring global styles here */

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  outline: none;
  padding: 20px 35px;
  background-color: var(--secondary-textColor);
  color: var(--secondary-color);
  font-size: 2.4rem;
  border-radius: 10px;
}

/* global styles for images */
img {
  width: 100%;
  object-fit: cover;
}
